
.flex{
    display: flex;
    flex-wrap: nowrap;
}
.flex>div{
    margin-right: 20px;
}
.formtrue{
    border-color: green;
    box-shadow: green;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
}
.texttrue{
    color: green;
}
.formfalse{
    
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.42857143;
    border-color:red;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: block;
}
.textfalse{
    color:red;
}